<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.dit.gsi.rulesframework" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <!--Bluetooth permissions-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Wifi permissions-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--Calendar permissions-->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!--Geofences permissions-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".receivers.BluetoothReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.WifiReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.CalendarReminderReceiver">
            <intent-filter>
                <action android:name="android.intent.action.EVENT_REMINDER"/>
                <data android:scheme="content"/>
            </intent-filter>
        </receiver>
        <activity android:name=".ListRulesActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".ChooseAppActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewRuleActivity"></activity>
        <activity android:name=".BeaconActivity"></activity>
        <activity android:name=".ConfigureBeaconActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".ListGeofencesActivity"/>
        <service android:name=".services.RuleDefinitionModule" android:enabled="true"/>
        <service android:name=".receivers.GeofenceIntentService" android:enabled="true"/>

    </application>

</manifest>
